@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@layer base {
	html {
		font-family: "Poppins", sans-serif;
		scroll-behavior: smooth;
	}
}
@layer utilities {
	.clip-path-oval {
		clip-path: ellipse(51% 47% at 51% 0%);
	}
	@variants responsive {
		::-webkit-scrollbar {
			margin-top: 10px;
			height: 5px;
			width: 4px;
		}
		::-webkit-scrollbar-track {
			display: none;
			background: white;
			border-radius: 8px;
		}
		::-webkit-scrollbar-thumb {
			background: lightgray;
			border-radius: 8px;
			display: none;
		}
		::-webkit-scrollbar-track:hover {
			display: block;
		}
		::-webkit-scrollbar-thumb:hover {
			display: block;
		}
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}
		.no-scrollbar {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}
}
